@import '../variables';

.wrapper {
    width: clamp(50%, 500px, 60%);
    height: min(50%, 400px);
    background-color: $modalGrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
}

.closeButton {
    margin-left: auto;
    background-color: transparent;
    border: none;
}

.textBox {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
}

.ticketBox, .dateBox {
    display: flex;
    gap: 1.5rem;
}