@import '../variables';

.header {
    height: 5rem;
    background-color: $primaryBlue;
    display: flex;
    z-index: 20;
    &__title {
        display: flex;
        margin: auto;
        font-family: $primaryFont;
        font-weight: lighter;
        color: white;
    }
}