@import '../variables';

.wrapper button {
    appearance: none;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 24px;
}

.wrapper p {
    margin-left: 0.8rem;
    margin-right: 0.8rem;
}